.container 
    .row 
        .col-3 
            a(class='form-control btn btn-sm btn-light' href='/users/not-friend') 
                i(class="fa-solid fa-user-group mr-2")
                | Danh sách người dùng
        .col-3 
            a(class='form-control btn btn-sm btn-light' href='/users/friends') 
                i(class="fa-solid fa-user-check mr-2")
                | Danh sách bạn bè
        .col-3 
            a(class='form-control btn btn-sm btn-light' href='/users/request') 
                i(class="fa-solid fa-users mr-2")
                | Lời mời đã gửi
        .col-3 
            a(class='form-control btn btn-sm btn-light' href='/users/accept') 
                i(class="fa-solid fa-user-plus mr-2")
                | Lời mời kết bạn