/* Header */
.header {
    background-color: #202020;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .inner-logo a {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
/* End Header */

/* Body */
.body .sider{
    width: 150px;
    background-color: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
}

.body .main {
    margin: 15px;
    position: relative;
    left:150px;
    width: calc(100% - 170px);
}

/* End Body */

/* Sider */
.sider .inner-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sider .inner-menu ul li a {
    color: #fff;
    display: block;
    border-bottom: 1px solid #515151;
    padding: 6px 10px;
}
/* End Sider */


/* Notification */
[show-alert]{
    position: fixed;
    top: 70px;
    right: 15px;
    width: 25%;
    z-index: 999;
}

[show-alert].show-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from {
        right: 15px;
    }
    to {
        right: -100%;
        display: none;
    }
}

/* End Notification */

/* Start css favicon + logo preview */
.main-info .favicon-frame {
    width: auto;
    height: 96px;
    aspect-ratio: 1/1; 
    overflow: hidden;
    border: 1px #ddd solid;
    border-radius: 7px;
    padding: 1px;
    position: relative;
}

.favicon-frame img {
    border-radius: 7px;
    width: 100%;
    object-fit: scale-down; /* Đảm bảo ảnh lấp đầy khung chứa */
    background-size: cover; /* Đảm bảo ảnh phủ toàn bộ khu vực */
    background-position: center; /* Đặt ảnh ở giữa */
}

.main-info .logo-frame {
    width: 400;
    overflow: hidden;
    border: 1px #ddd solid;
    border-radius: 7px;
    padding: 1px;
    position: relative;
} 

.logo-frame img {
    border-radius: 7px;
    width: 100%;
    object-fit: scale-down; /* Đảm bảo ảnh lấp đầy khung chứa */
    background-size: cover; /* Đảm bảo ảnh phủ toàn bộ khu vực */
    background-position: center; /* Đặt ảnh ở giữa */
}

.pencil {
    position: absolute;
    top: 0;
    right: 0;
}

.pencil:hover {
    cursor: pointer;
}
/* End css favicon + logo preview */

/*css để in hóa đơn*/
@media print {
    body * {
      visibility: hidden;
    }
    .card-print, .card-print * {
      visibility: visible;
    }
    .card-print {
      position: absolute;
      left: 0;
      top: 0;
    }
  }