/* Chat */
.chat {
    border: #BDBDBD 1px solid;
    border-radius: 8px;
}

.chat .inner-head {
    border-bottom: #BDBDBD 1px solid;
    padding: 10px;
}

.chat .inner-foot {
    border-top: #BDBDBD 1px solid;
    padding: 5px;
}

.chat .inner-form {
    display: flex;
}

.chat .inner-form input {
    flex: 3;
    height: 32px;
    border-radius: 15px;
    padding: 0 10px;
    outline: none;
    border: #BDBDBD 1px solid;
}

.chat .inner-form button {
    background-color: #fff;
    padding: 0 10px;
    outline: none;
    border-radius: 100px;
}

.chat .inner-body {
    overflow-y: auto;
    height: 600px;
}

.chat .inner-incoming {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.chat .inner-outgoing {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.inner-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.chat .inner-image {
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
}

.chat .inner-outgoing .inner-image {
    justify-content: flex-end;
}

.chat .inner-incoming .inner-image {
    justify-content: flex-start;
}

.chat .inner-image div {
    width: 150px;
}

.chat .inner-image div img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
    margin: 2px;
    border: #ddd solid 1px;
    border-radius: 5px;
}

.chat .inner-content {
    display: inline-block;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 2px;
    max-width: 50vw;
    margin-right: 10px;
}

.chat .inner-incoming .inner-content {
    background-color: #ddd;
}

.chat .inner-outgoing .inner-content {
    background-color: #17A2B8;
}

.inner-name {
    font-size: 12px;
}

.inner-avatar {
    align-self: last baseline;
    margin: 0 10px 5px 10px;
}

.inner-avatar img {
    width: 2em;
    height: 2em;
    object-fit: cover;
    border-radius: 100%;
    border: #17A2B8 solid 1px;
}

.inner-head .inner-avatar img {
    width: 2.5em;
    height: 2.5em;
}


/* End Chat */

/* Icon board */
.chat .btn:hover {
    background-color: #BDBDBD;
}

.tooltip {
    visibility: hidden;
    border-radius: 12px;
    border: 1px #ddd solid;
}

.tooltip.shown{
    visibility: visible;
    opacity: 1;
}
/* End icon board */

/* Typing */
.inner-body {
    position: relative;
}

.typing {
    position: absolute;
    /* top: 100%; */
    border-bottom: #17A2B8 1px solid;
}

.typing .inner-name {
    margin-left: 5px;
    color: #555;
}

.typing .inner-dots {
    display: inline-block;
}

.typing .inner-dots span {
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 45px;
    background-color: #555;
    margin-left: 3px;
    animation: blink 1.4s infinite both;
}

.inner-dots span:nth-child(1) {
    animation-delay: 0s;
}

.inner-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.inner-dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0%, 80%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

/* End Typing */

/* Chat image previrew*/
.inner-preview .custom-file-container .label-container {
    display: none;
} 

.inner-preview .custom-file-container .input-container {
    display: none;
} 

.inner-preview .custom-file-container .image-preview {
    height: auto;
    padding: 0;
}

.inner-preview .custom-file-container .image-preview-item {
    width: 100px;
    background-size: contain;
}

/* End chat image previrew*/

/* Card users */
.card-user .card-title {
    font-size: small;
    display: -webkit-box;
    height: 2em;
}

.card-user .card-body {
    padding: 6px;
}

.card-user .card-img-top {
    width: 100%;
    height: auto;   
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card-user .card-body.add [btn-add-friend]{
    visibility: hidden;
}

.card-user .card-body.add [btn-del-friend]{
    display: none;
}

.card-user .card-body.add .sent-friend {
    visibility: visible;
}

.card-user .card-body.add [btn-cancel-friend] {
    display: block;
}

.card-user .card-body .sent-friend {
    font-size: small;
    visibility: hidden;
}

.card-user .card-body [btn-unfriend],
.card-user .card-body [btn-inbox],
.card-user .card-body [noti-accepted],
.card-user .card-body [noti-denied],
.card-user .card-body [btn-cancel-friend],
.card-user .card-body [btn-accept-friend],
.card-user .card-body [btn-denied-friend] {
    display: none;
}

.card-user .card-body.friend [btn-unfriend],
.card-user .card-body.friend [btn-inbox] {
    display: block;
}

.card-user .card-body.request [btn-accept-friend],
.card-user .card-body.request [btn-denied-friend] {
    display: block;
}

.card-user .card-body.friend [btn-add-friend],
.card-user .card-body.friend [btn-del-friend],
.card-user .card-body.denied [btn-add-friend],
.card-user .card-body.denied [btn-del-friend],
.card-user .card-body.accept [btn-add-friend],
.card-user .card-body.accept [btn-del-friend],
.card-user .card-body.request [btn-add-friend],
.card-user .card-body.request [btn-del-friend] {
    display: none;
}

.card-user .card-body.accept [noti-accepted] {
    display: block;
}

.card-user .card-body.denied [noti-denied] {
    display: block;
}

/* End card users */

/* Map */
.map-container iframe {
    width: 400px;
    max-height: 300px;
    aspect-ratio: 1/1;
}
/* End Map */

/* Status light */

.status-light {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    position: absolute;
    right: -5px;
    top: -5px
}

.status-light[status='online']{
    background-color: #46AB5E;
    border: #17A2B8 solid 1px;
}

.status-light[status='offline']{
    background-color: #BDBDBD;
    border: #17A2B8 solid 1px;
}

/* End Status light */

/* Header chat*/
.inner-head  .inner-avatar {
    display: inline-block;
    position: relative;
}

.inner-head  .inner-avatar .status-light {
    top: 30px;
    right: 0;
    position: absolute;
}

.inner-head .inner-name {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    top: 12px;
}

.inner-head .inner-name span {
    display: block;
}

.inner-head .inner-name .status-online {
    font-weight: 500;
    font-size: smaller;
}
/* End Header chat*/

/* Label chat */
.label-chat .inner-avatar {
    display: inline-block;
    position: relative;
    top: -12px;
}

.label-chat .inner-avatar .status-light {
    top: 20px;
    right: 0;
    position: absolute;
    width: 8px;
    height: 8px;
}

.label-chat .inner-name {
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    position: relative;
    top: -2px;
}

.label-chat .inner-name span{
    display: block;
}
.label-chat .inner-name .inner-content{
    font-weight: 400;
    font-size: smaller;     
}

.label {
    overflow-y: auto;
    height: 700px;
}

/* End Label chat */

/* Setting chat */
.chat .setting-chat {
    display: block;
}

.chat .setting-chat .inner-avatar img {
    width: 75px;
    height: 75px;
}

.chat .setting-chat .item-list-setting:hover {
    cursor: pointer;
    background-color: #ddd;
}

.chat .setting-chat {
    z-index: 1;
    position: absolute;
    right: 2em;
    top: 4em;
}   

.chat .setting-chat .list-setting .inner-avatar img {
    width: 1.5em;
    height: 1.5em;
}

.chat .setting-chat .list-setting .inner-name {
    font-size: 12px;
    position: relative;
    top: 0;
}

.chat .list-setting .setting-user {
    position: absolute;
    right: 1em;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    padding-left: 2px;
}

.chat .list-setting .setting-user:hover {
    cursor: pointer;
    background-color: #ddd;
}

/* End setting chat */
