*{
    color: #191919;
}

/* Header */
.header {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.header .inner-logo img {
    max-height: 25px;
    max-width: 100%;
}

.header .inner-menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .inner-menu > ul > li {
    margin-left: 20px;
}
/* End Header */

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* End Footer */

/* Card product */
.product-item .inner-image{
    position: relative;
}

.product-item .inner-featured {
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
    padding: 2px 6px;
    color: #fff;
    border-radius: 8px;
    font-size: 14;
    font-weight: 600;
}

.container.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-head {
    margin-bottom: 1rem;
}

.box-head .inner-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #27ae60;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.product-item:hover {
    transform: scale(1.02);
}

.inner-image img {
    width: 100%;
    height: auto;   
    aspect-ratio: 1/1;
}

.inner-content {
    padding: 1rem;
}

.inner-content .inner-title {
    font-size: small;
    margin-bottom: 0.25rem;
    color: #333;
    overflow: hidden; /* Ẩn nội dung tràn */
    text-overflow: ellipsis; /* Hiển thị dấu ba chấm khi nội dung bị cắt ngắn */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng tối đa */
    -webkit-box-orient: vertical;
    height: 3em; /*Chiều cao của 2 dòng, tùy thuộc vào font-size*/
}

.inner-content .inner-price-new {
    font-size: smaller;
    font-weight: bold;
    color: #27ae60;
    margin-bottom: 0.25rem;
}

.inner-content .inner-price-old {
    font-size: x-small;
    text-decoration: line-through;
    font-weight: bold;
    color: #BDBDBD;
    margin-bottom: 0.25rem;
}

.inner-content .inner-discount {
    font-size: x-small;
    font-weight: bold;
    color: #EB690A;
    margin-bottom: 0.5rem;
    border: 1px solid #FEEEEA;
    background-color: #FEEEEA;
    max-width: 70px;
    text-align: center;
    border-radius: 6px;
}

a[card-product]:hover{
    text-decoration: none;
}
/* End Card product */

/* sub-menu */
.sub-menu {
    position: relative ;
    z-index: 999;
}

.sub-menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #eae9e9;
    min-width: 150px;
    display: none;
}

.sub-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul {
    display: block;
}

.sub-menu ul li:hover > ul {
    display: block;
    border-left: 1px solid #ddd;
}

.sub-menu ul li {
    position: relative;
}

.sub-menu ul li ul {
    left: 100%;
    top: 0;
}
/* End sub-menu */

/* product detail */
.product-detail .inner-title {
    font-size: 32px;
    margin-bottom: 15px;
}

.product-detail .inner-price-new {
    font-size: larger;
    font-weight: bold;
    color: #27ae60;
    margin-bottom: 0.25rem;
}

.product-detail .inner-price-old {
    font-size: small;
    text-decoration: line-through;
    font-weight: bold;
    color: #BDBDBD;
    margin-bottom: 0.25rem;
}

.product-detail .inner-percent {
    font-size: x-small;
    font-weight: bold;
    color: #FEEEEA;
    margin-bottom: 0.5rem;
    border: 1px solid #EB690A;
    background-color: #EB690A;
    max-width: 70px;
    text-align: center;
    border-radius: 6px;
}

.product-detail .inner-stock{
    color: #BDBDBD;
    font-weight: 400;
}

/* End product detail */
.bottom-bar {
    width: 100px;
    background-color: red;
    height: 2px;
    display: inline-block;
}