*{
    color: #191919;
    box-sizing: border-box;
}

/* Header */
.header {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.header .inner-logo img {
    max-height: 50px;
    max-width: 100%;
}

.header .inner-menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .inner-menu > ul > li {
    margin-left: 20px;
}

.header .inner-menu a{
    color: #333;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.mini-cart {
    position: relative;
}

.mini-cart .badge {
    border-radius: 45px;
    font-size: xx-small;
    position: absolute;
}

/* End Header */

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* End Footer */

/* Card product */
.product-item .inner-image{
    position: relative;
}

.product-item .inner-featured {
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
    padding: 2px 6px;
    color: #fff;
    border-radius: 8px;
    font-size: 14;
    font-weight: 600;
}

.container.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-head {
    margin-bottom: 1rem;
}

.box-head .inner-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #27ae60;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.product-item:hover {
    transform: scale(1.02);
}

.inner-image img {
    width: 100%;
    height: auto;   
    aspect-ratio: 1/1;
}

.inner-content {
    padding: 1rem;
}

.inner-content .inner-title {
    font-size: small;
    margin-bottom: 0.25rem;
    color: #333;
    overflow: hidden; /* Ẩn nội dung tràn */
    text-overflow: ellipsis; /* Hiển thị dấu ba chấm khi nội dung bị cắt ngắn */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng tối đa */
    -webkit-box-orient: vertical;
    height: 3em; /*Chiều cao của 2 dòng, tùy thuộc vào font-size*/
}

.inner-content .inner-price-new {
    font-size: smaller;
    font-weight: bold;
    color: #27ae60;
    margin-bottom: 0.25rem;
}

.inner-content .inner-price-old {
    font-size: x-small;
    text-decoration: line-through;
    font-weight: bold;
    color: #BDBDBD;
    margin-bottom: 0.25rem;
}

.inner-content .inner-discount {
    font-size: x-small;
    font-weight: bold;
    color: #EB690A;
    margin-bottom: 0.5rem;
    border: 1px solid #FEEEEA;
    background-color: #FEEEEA;
    max-width: 70px;
    text-align: center;
    border-radius: 6px;
}

a[card-product]:hover{
    text-decoration: none;
}
/* End Card product */

/* sub-menu */
.sub-menu {
    position: relative ;
    z-index: 999;
}

.sub-menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #eae9e9;
    min-width: 150px;
    display: none;
}

.sub-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul {
    display: block;
}

.sub-menu ul li:hover > ul {
    display: block;
    border-left: 1px solid #ddd;
}

.sub-menu ul li {
    position: relative;
}

.sub-menu ul li ul {
    left: 100%;
    top: 0;
}
/* End sub-menu */

/* product detail */
.product-detail .inner-title {
    font-size: 32px;
    margin-bottom: 15px;
}

.product-detail .inner-price-new {
    font-size: larger;
    font-weight: bold;
    color: #27ae60;
    margin-bottom: 0.25rem;
}

.product-detail .inner-price-old {
    font-size: small;
    text-decoration: line-through;
    font-weight: bold;
    color: #BDBDBD;
    margin-bottom: 0.25rem;
}

.product-detail .inner-percent {
    font-size: x-small;
    font-weight: bold;
    color: #FEEEEA;
    margin-bottom: 0.5rem;
    border: 1px solid #EB690A;
    background-color: #EB690A;
    max-width: 70px;
    text-align: center;
    border-radius: 6px;
}

.product-detail .inner-stock{
    color: #BDBDBD;
    font-weight: 400;
}

/* End product detail */
.bottom-bar {
    width: 100px;
    background-color: red;
    height: 2px;
    display: inline-block;
}

/* counter */
.inner-counter {
    border: 1px solid #BDBDBD;
    width: 7em;
    user-select: none;
}

.inner-counter div {
    background-color: #fff;
    font-weight: 600;
    width: 30px;
    display: inline-block;
    text-align: center;
}

.inner-counter div:hover {
    cursor: pointer;
}

.inner-counter 
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inner-counter .input-counter {
    display: inline-block;
    width: 50px;
    text-align: center;
    border: none;
    border-left: #DADBDD 1px solid;
    border-right: #DADBDD 1px solid;
    background-color: #EDEDED;
}

.inner-counter .add-counter:hover {
    background-color: #28A745;
}

.inner-counter .sub-counter:hover {
    background-color: red;
}
/* end counter */

/* Cart */
.image-container {
    width: 100px; 
    height: 100px; 
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Giúp ảnh bao phủ toàn bộ khung và giữ tỷ lệ */
}

.media-body {
    position: relative;
}

.media-body .inner-title{
    text-decoration: none;
    font-weight: 600;
    color: #333;
}

.media-body .inner-title:hover{
    color: #EB690A;
}

.media-body .inner-price {
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: 600;
}

.media-body .close {
    position: absolute;
    top: -20px;
    right: 0;
    height: 20px;
}

.media-body .close svg:hover {
    cursor: pointer;
    background-color: red;
    border-radius: 100px;
}

.total-price .price {
    color: #EB690A;
    font-weight: 600;
}

.modal-footer span {
    font-size: 12px;
    display: block;
}
/* End Cart */

/* Card checkout */
.card-checkout .text-continue, .fa {
    text-decoration: none;
    color: #EB690A;
}

.card-checkout .text-continue:hover, .text-continue:hover * {
    color: orange;
}

/* End card checkout */

/* Notification */
[show-alert]{
    position: fixed;
    top: 70px;
    right: 15px;
    width: 25%;
    z-index: 999;
}

[show-alert].show-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from {
        right: 15px;
    }
    to {
        right: -100%;
        display: none;
    }
}

/* End Notification */

/* Multi menu  */
.multi-menu {
    position: relative;
}

.multi-menu > .inner-menu{
    position: relative;
    display: none;
    text-decoration: none;
    width: 100%;
    font-size: medium;
}

.multi-menu:hover > .inner-menu {
    position: absolute;
    display: block;
    top: 100%;
    border-radius: 8px;
    background-color: #fff;
}

.multi-menu .inner-menu a:hover {
    background-color: #EDEDED;
    border-radius: 4px;
    color: #EB690A;
    width: 100%;
    display: inline-block;
}

/* End Multi menu  */

/* Chat */
.chat {
    border: #BDBDBD 1px solid;
    border-radius: 8px;
    
}

.chat .inner-head {
    border-bottom: #BDBDBD 1px solid;
    padding: 10px;
}

.chat .inner-foot {
    border-top: #BDBDBD 1px solid;
    padding: 5px;
}

.chat .inner-form {
    display: flex;
}

.chat .inner-form input {
    flex: 3;
    height: 32px;
    border-radius: 15px;
    padding: 0 10px;
    outline: none;
    border: #BDBDBD 1px solid;
}

.chat .inner-form button {
    border-radius: 15px;
    border: #17A2B8 1px solid;
    background-color: #17A2B8;
    padding: 0 10px;
    outline: none;
}

.chat .inner-body {
    overflow-y: auto;
    height: 450px;
}

.chat .inner-incoming {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.chat .inner-outgoing {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.inner-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.chat .inner-content {
    display: inline;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 2px;
    max-width: 50vw;
    margin-right: 10px;
}

.chat .inner-incoming .inner-content {
    background-color: #BDBDBD;
}

.chat .inner-outgoing .inner-content {
    background-color: #17A2B8;
}

.inner-name {
    font-size: 12px;
}

.inner-avatar {
    align-self: last baseline;
    margin: 0 10px 5px 10px;
}


.inner-avatar img {
    width: 2em;
    height: 2em;
    object-fit: cover;
    border-radius: 45px;
    border: #17A2B8 solid 1px;
}

/* End Chat */

/* Icon board */
.tooltip {
    visibility: hidden;
}

.tooltip.shown{
    visibility: visible;
    opacity: 1;
}
/* End icon board */