extends ../../layouts/default.pug
include ./../../mixins/box-head.pug
include ./../../mixins/layout-grid.pug
include ../../mixins/notification-error.pug
include ../../mixins/notification-success.pug

block main 
    +notification-success(messages.success)
    +notification-error(messages.error)

    .section-product-featured.my-5
        .container
            .row 
                .col-12 
                    +box-head("Sản phẩm nổi bật")

            +layout-grid(featuredProducts)  
            hr

    .section-product-new.my-5
        .container
            .row 
                .col-12 
                    +box-head("Sản phẩm mới")

            +layout-grid(newProducts)  